.achtiveContainer {
    background-color: #17181c;
    transition: all 2s ease;
    padding: 40px 0;

    .achtiveInner {
        h3 {
            color: #eee;
            font-size: 30px;
            line-height: 33px;
            text-align: center;
            padding: 20px 0 30px 0;

            span {
                color: rgb(103, 121, 147);
            }
        }

        .main {
            display: flex;

            .title {
                color: #ccc;
                font-size: 19px;
                line-height: 22px;
                margin-bottom: 30px;
                text-transform: uppercase;
            }

            ul {
                list-style: none;
                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    width: 17px;
                    height: auto;
                    border: none;
                    border-radius: 0;
                    top: 0;
                    bottom: -5px;
                    border-bottom: 1px solid #fff;
                }

                li {
                    padding: 0 40px;
                    position: relative;

                    .timeLine-info {
                        span {
                            color: #bbb;
                        }
                    }

                    .timeLine-content {
                        padding-bottom: 30px;

                        h5 {
                            font-size: 17px;
                            line-height: 20px;
                            margin-top: 15px;
                            margin-bottom: 10px;
                            color: rgb(103, 121, 147);
                            font-weight: 500;

                            span {
                                margin-left: 15px;
                                color: rgb(153, 153, 153);
                                font-size: 14px;
                            }
                        }

                        p {
                            color: #bbb;
                            font-size: 14px;
                        }
                    }

                    .timeLine-marker {
                        width: 15px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;

                        &::before {
                            content: "";
                            width: 15px;
                            border: 1px solid #ccc;
                            border-radius: 100%;
                            display: block;
                            height: 15px;
                            position: absolute;
                            top: 4px;
                            left: 0;
                        }

                        &::after {
                            content: "";
                            width: 1px;
                            border-right: 1px solid #ccc;
                            display: block;
                            position: absolute;
                            top: 24px;
                            bottom: 0;
                            left: 7px;
                        }
                    }
                }
            }

            .education {
                width: 50%;
                transition: all 2s ease;

                ul {
                    li {
                        transition: 1.5s;
                        transform: translateY(120px);
                        opacity: 0;
                    }                  
                }
                .animation {
                    li:first-child {
                        transform: translateY(0px);
                        transition-delay: 0s;
                        opacity: 1;
                    }

                    li:nth-child(2) {
                        transform: translateY(0px);
                        transition-delay: 0.3s;
                        opacity: 1;
                    }

                    li:nth-child(3) {
                        transform: translateY(0px);
                        transition-delay: 0.6s;
                        opacity: 1;
                    }
                }
            }

            .experiense {
                width: 50%;
                transition: all 2s ease;
                ul {
                    li {
                        transition: 1.5s;
                        transform: translateY(120px);
                        opacity: 0;
                    }                  
                }
                .animationEx {
                    li:first-child {
                        transform: translateY(0px);
                        transition-delay: 0s;
                        opacity: 1;
                    }

                    li:nth-child(2) {
                        transform: translateY(0px);
                        transition-delay: 0.3s;
                        opacity: 1;
                    }

                    li:nth-child(3) {
                        transform: translateY(0px);
                        transition-delay: 0.6s;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .achtiveContainer {
        .achtiveInner .main {
            flex-direction: column;
            align-items: center;

            ul {
                li {
                    padding: 0 60px;

                    .timeLine-content {
                        padding-bottom: 20px;
                    }
                }
            }

            .education,
            .experiense {
                width: 100%;

                &:first-child {
                    margin-bottom: 30px;
                }
            }

        }
    }
}

@media (max-width: 640px) {
    .achtiveContainer {
        .achtiveInner .main ul li {
            padding: 0 30px;
        }

    }
}