.projectContainer {
    background: #1b1c20;

    .projectInner {
        padding: 60px 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        transition: all 2s ease-in-out;

        .projectElem {
            height: 160px;
            margin: 20px;
            background-color: rgb(141, 141, 170);
            padding: 20px;
            color: #bbb;
            border-radius: 30px;
            background: #202126;
            border: 1px solid #2c2f36;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: translateY(120px);
            opacity: 0;

            .countre {
                color: rgb(103, 121, 147);
            }

            h3 {
                color: #eee;
                font-size: 38px;
                line-height: 42px;
                margin: 0 0 5px 0;
            }

            p {
                color: #bbb;
                font-size: 18px;
                font-weight: 400;
            }
        }


    }
    
    .animation {
        div{
            transition: 1s;
          
            &:first-child {
                transform: translateY(0px);
                transition-delay: 0s;
                opacity: 1;
            }

            &:nth-child(2) {
                transform: translateY(0px);
                transition-delay: 0.3s;
                opacity: 1;
            }

            &:nth-child(3) {
                transform: translateY(0px);
                transition-delay: 0.6s;
                opacity: 1;
            }

            &:nth-child(4) {
                transform: translateY(0px);
                transition-delay: 0.9s;
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .projectContainer {
        .projectInner {
            padding: 20px 40px;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 768px) {
    .projectContainer {
        .projectInner {
            padding: 20px 20px;
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width: 500px) {
    .projectContainer {
        .container {
            padding: 0;
        }

        .projectInner {
            padding: 0;
        }
    }
}